* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 200;
}

html,
body {
  max-width: 1200px;
  overflow-x: hidden;
  margin: auto;
  padding: 0 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: inherit;
}
