.container {
  margin-bottom: 40px;
}

.container p {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.main {
  display: flex;
}

.main div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #304ffe18;
  color: #304ffe;
  margin-left: 30px;
  width: 70px;
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}
