.container {
  display: flex;
  flex-direction: column;
}
.container p {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
}

.container p svg {
  margin-left: 5px;
  font-size: 1.3rem;
  color: #304ffe !important;
}

.container a {
  color: grey;
  margin: 5px;
}
